.button_reset {
  display: flex;
  align-items: center;
  justify-content: center;
  &_text {
    color: color(button);
  }
}

.button_register {
  border: none;
  border-radius: 4px;
  background-color: color(button);
  color: #fff;
}
