.contents_list {
  background: linear-gradient(
    0deg,
    rgba(200, 213, 228, 0.5),
    rgba(200, 213, 228, 0.5)
  );
  width: 100%;
  padding: 0 40px;
  margin-left: 80px;
  transition: all 0.8s ease-in-out;
  &.is_active {
    margin-left: 400px;
  }
  &_title {
    font-size: 32px;
    font-weight: 400;
    width: 224px;
    height: 46px;
    line-height: 46px;
    margin-top: 42px;
    margin-bottom: 40px;
  }
  &_search {
    display: flex;
    align-items: flex-end;
    margin-bottom: 24px;
    .radius {
      border-radius: 4px;
    }
  }
  &_input {
    width: calc(100% - 164px - 150px - 32px);
    height: 52px;
    font-size: 14px;
    border: 1px solid rgba(0, 0, 0, 0.12);
    padding-left: calc(12px + 24px + 8px);
    padding-right: 12px;
    line-height: 20.27px;
    box-sizing: border-box;
    &::placeholder {
      height: 20px;
    }
    &_icon {
      position: relative;
      &::before {
        @include fontIcon("\e8b6");
        color: color(font);
        width: 24px;
        height: 24px;
        font-size: 24px;
        position: absolute;
        top: 14px;
        left: 12px;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
  }
  &_button {
    color: color(button);
    // 位置調整
    display: flex;
    justify-content: center;
    align-items: center;
    // 大きさ調整
    width: 164px;
    height: 50px;
    font-size: 14px;
    // レイアウト調整
    border: 1px solid color(button);
    margin-left: 16px;
    &_img {
      // 位置調整
      display: flex;
      align-items: center;
      justify-content: center;
      // 大きさ調整
      width: 18px;
      height: 18px;
      font-size: 18px;
      // レイアウト調整
      margin: 16px 8px 16px 16px;
    }
    &_text {
      width: 98px;
      height: 20px;
      margin-right: 24px;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
  &_table {
    color: color(font);
    background-color: #ffffff;
    width: 100%;
    margin-bottom: 142px;
    border-collapse: collapse;
    &_margin {
      height: 8px;
      border-radius: 4px 4px 0px 0px;
      background-color: #ffffff;
    }
    &_item {
      height: 48px;
      text-align: left;
      width: 100%;
      td {
        padding: 8px 8px;
        box-sizing: border-box;
      }
      > td:nth-child(1) {
        width: 180px;
      }
      > td:nth-child(2) {
        width: 240px;
      }
      > td:nth-child(3) {
        word-break: break-all;
      }
      &:nth-child(even) {
        background-color: color(table_even_bg);
      }
    }
  }
  @media screen and (max-width: 768px) {
    margin-left: 0;
    margin-bottom: 48px;
    padding: 0 16px;
    box-sizing: border-box;
    &.is_active {
      margin: 0;
    }
    &_title {
      font-size: 22px;
      width: 154px;
      height: 33px;
      line-height: 31.86px;
      margin: 33px 0;
    }
    &_search {
      margin-bottom: 18px;
    }
    &_input {
      width: calc(100% - 52px - 52px);
      border-top-left-radius: 4px !important;
      border-bottom-left-radius: 4px !important;
    }
    &_button {
      width: 52px;
      height: 52px;
      margin: 0;
      border: 1px solid rgba(0, 0, 0, 0.12);
      background-color: #ffffff;
      box-sizing: border-box;
      &_img {
        width: 24px;
        height: 24px;
        font-size: 24px;
        margin: 14px;
      }
      &_text {
        display: none;
      }
      &.sp_border_none {
        border-left: none;
        border-right: none;
      }
    }
    &_table {
      overflow-x: scroll;
      display: none;
      margin-bottom: 8px;
      &.sp_table {
        display: block;
      }
      &_item {
        > td:nth-child(1) {
          width: 160px;
          min-width: 160px;
        }
        > td:nth-child(2) {
          word-break: break-all;
          width: 320px;
          min-width: 320px;
        }
        > td:nth-child(3) {
          width: 240px;
          min-width: 240px;
        }
      }
    }
  }
  .radius {
    border-radius: 0;
  }
}

.sp_table {
  display: none;
}
