@charset "UTF-8";

.contents_list {
    background: linear-gradient(
        0deg,
        rgba(200, 213, 228, 0.5),
        rgba(200, 213, 228, 0.5)
    );
    width: 100%;

    @include mq(pc) {
        margin-left: 8rem;
        padding: 0 4rem;
        transition: margin 0.8s ease-in-out;
        &.is_active {
            margin-left: 40rem;
        }
    }

    @include mq(sp) {
        margin-left: 0;
        margin-bottom: 4.8rem;
        padding: 0 1.6rem;
        box-sizing: border-box;

        &.is_active {
            margin-left: 0;
        }
    }

    .contents_list_title {
        font-weight: 400;

        @include mq(pc) {
            font-size: 3.2rem;
            height: 4.6rem;
            margin-top: 4.2rem;
            margin-bottom: 4rem;
        }

        @include mq(sp) {
            font-size: 2.2rem;
            height: 3.3rem;
            margin: 3.3rem 0;
        }
    }

    .contents_list_search {
        display: flex;
        align-items: flex-end;
        position: relative;

        @include mq(pc) {
            margin-bottom: 2.4rem;

            .radius {
                border-radius: 0.4rem;
            }
        }

        @include mq(sp) {
            margin-bottom: 1.8rem;
        }
    }

    .contents_list_input_icon {
        &::before {
            @include fontIcon_rounded("\e8b6");
            color: color(font);
            width: 2.4rem;
            height: 2.4rem;
            font-size: 2.4rem;
            position: absolute;
            left: 2.2rem;
            top: 50%;
            transform: translate(-50%, -50%);
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }

    .contents_list_input {
        height: 5.2rem;
        font-size: 1.4rem;
        border: 0.1rem solid color(border);
        padding-left: calc(1.2rem + 2.4rem + 0.8rem);
        padding-right: 1.2rem;
        box-sizing: border-box;

        &:focus {
            outline: none;
            border: 0.2rem solid color(hover_focus);
        }

        &::placeholder {
            height: 2rem;
        }

        @include mq(pc) {
            width: calc(100% - 16.6rem - 16.6rem - 3.2rem);
        }

        @include mq(sp) {
            width: calc(100% - 5.2rem - 5.2rem);
            border-top-left-radius: 0.4rem;
            border-bottom-left-radius: 0.4rem;
        }
    }

    .contents_list_button {
        @include pointer;
        color: color(button);
        // 位置調整
        display: flex;
        justify-content: center;
        align-items: center;
        box-sizing: border-box;
        font-size: 1.4rem;

        .contents_list_button_img {
            // 位置調整
            display: flex;
            align-items: center;
            justify-content: center;
        }

        @include mq(pc) {
            width: 16.6rem;
            height: 5rem;
            border: 0.1rem solid color(button);
            margin-left: 1.6rem;
            padding-right: 2.4rem;
            padding-left: 1.6rem;
            display: flex;
            .contents_list_button_img {
                width: 1.8rem;
                height: 1.8rem;
                font-size: 1.8rem;
                padding-right: 0.8rem;
            }

            .contents_list_button_text {
                display: block;
                display: flex;
                align-items: center;
                justify-content: center;
            }
        }

        @include mq(sp) {
            width: 5.2rem;
            height: 5.2rem;
            margin: 0;
            border: 0.1rem solid color(border);
            background-color: #ffffff;
            box-sizing: border-box;

            &.sp_border_radius {
                border-top-right-radius: 0.4rem;
                border-bottom-right-radius: 0.4rem;
            }

            .contents_list_button_img {
                width: 2.4rem;
                height: 2.4rem;
                font-size: 2.4rem;
                padding: 1.4rem;
            }

            .contents_list_button_text {
                display: none;
            }

            &.sp_border_none {
                border-left: none;
                border-right: none;
            }
        }
    }

    .contents_list_table {
        color: color(font);
        background-color: #ffffff;
        width: 100%;
        border-collapse: collapse;
        font-size: 1.4rem;

        .contents_list_table_margin {
            height: 0.8rem;
            border-radius: 0.4rem 0.4rem 0 0;
            background-color: #ffffff;
        }

        .contents_list_table_item {
            height: 4.8rem;
            text-align: left;
            width: 100%;

            td {
                padding: 0.8rem 0.8rem;
                box-sizing: border-box;
            }

            &:nth-child(even) {
                background-color: color(table_even_bg);
            }
        }

        @include mq(pc) {
            margin-bottom: 14.2rem;

            &.sp_table {
                display: none;
            }

            .contents_list_table_item {
                > td:nth-child(1) {
                    width: 18.75%;
                }
                > td:nth-child(2) {
                    width: 25%;
                }
                > td:nth-child(3) {
                    word-break: break-all;
                }
            }
        }

        @include mq(sp) {
            margin-bottom: 4rem;
            overflow-x: scroll;
            display: none;

            &.sp_table {
                display: block;
            }

            .contents_list_table_item {
                > td:nth-child(1) {
                    width: 16rem;
                    min-width: 16rem;
                }
                > td:nth-child(2) {
                    word-break: break-all;
                    width: 32rem;
                    min-width: 32rem;
                }
                > td:nth-child(3) {
                    min-width: 24rem;
                }
            }
        }
    }
}
