@charset "UTF-8";

.contents_add {
    background-color: #ffff;
    position: fixed;
    flex-shrink: 0;
    transition: 0.8s margin ease-in-out;

    @include mq(pc) {
        width: 32rem;
        height: 100vh;
        z-index: 1;
        margin-left: -32rem + 8rem;
        &.is_active {
            margin-left: 8rem;
            box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.3),
                0px 2px 6px 2px rgba(0, 0, 0, 0.15);
        }
    }

    @include mq(sp) {
        width: 100%;
        height: calc(100vh - 9.8rem);
        margin-top: 100vh;
        border-radius: 1.6rem 1.6rem 0 0;
        z-index: 2;
        box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.3),
            0px 2px 6px 2px rgba(0, 0, 0, 0.15);
        &.is_active {
            margin-top: 9.8rem;
        }
    }

    .contents_add_form {
        height: 100%;
    }

    .contents_add_body {
        box-sizing: border-box;
        position: relative;

        @include mq(pc) {
            overflow-y: scroll;
            height: calc(100% - 8.3rem);
            padding: 2.4rem 1.6rem 4rem 1.6rem;
        }

        @include mq(sp) {
            height: 100%;
            padding-top: 2.4rem;
        }
    }

    .contents_add_close_sp {
        @include mq(pc) {
            display: none;
        }
        @include mq(sp) {
            width: 1.8rem;
            height: 1.8rem;
            padding-right: 1.6rem;
            position: absolute;
            top: 2.8rem;
            left: 1.6rem;
            .contents_add_close_sp_img {
                width: 100%;
                height: 100%;
                font-size: 1.8rem;
                display: flex;
                align-items: center;
                justify-content: center;
            }
            @include pointer;
        }
    }

    .contents_add_register_sp {
        @include mq(pc) {
            display: none;
        }
        @include mq(sp) {
            position: absolute;
            top: 2.4rem;
            right: 1.6rem;
            font-size: 1.8rem;
            color: color(button);
            @include pointer;
        }
    }

    .contents_add_title {
        font-size: 1.8rem;
        padding-bottom: 0.6rem;
        @include mq(pc) {
            font-weight: 500;
        }
        @include mq(sp) {
            height: 2.6rem;
            font-weight: 400;
            padding-left: 6.6rem;
            padding-bottom: 0.8rem;
        }
    }

    .contents_add_items {
        @include mq(sp) {
            height: calc(100% - 3.4rem);
            overflow-y: scroll;
            padding: 0 1.6rem;
        }
    }

    .contents_add_text {
        font-size: 1.4rem;
        height: 2rem;
        margin-top: 2.4rem;
    }
    .contents_add_input {
        width: 100%;
        height: 5.2rem;
        font-size: 1.4rem;
        margin-top: 0.8rem;
        background-color: color(input);
        box-sizing: border-box;
        border: none;
        border-radius: 0.8rem;
        padding: 0 1.6rem;
        &:focus {
            outline: none;
            border: 0.2rem solid color(hover_focus);
        }
    }
    .image_color {
        position: relative;
        display: block;
        overflow: hidden;
        margin-top: 0.8rem;
        border-radius: 0.8rem;
        height: 5.2rem;
        .image_color_input {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: calc(100% + 2rem);
            height: calc(100% + 2rem);
            padding: 0;
            margin: 0;
            &:focus {
                outline: none;
                border: none;
            }
        }
    }
    .contents_add_helper {
        color: color(font);
        height: 1.7rem;
        font-size: 1.2rem;
        margin-top: 0.4rem;
    }
    .contents_add_login {
        margin-top: 0.8rem;
        margin-bottom: 4rem;
        display: flex;
        align-items: center;
        .contents_add_login_check {
            width: 4.8rem;
            height: 4.8rem;
            display: flex;
            align-items: center;
            justify-content: center;
            @include pointer;
            .contents_add_login_check_img {
                color: color(font);
            }
        }
        .contents_add_login_checkbox {
            display: none;
            & + .contents_add_login_check + .contents_add_login_check {
                display: none;
            }
            &:checked {
                & + .contents_add_login_check {
                    position: relative;
                    display: none;
                }
                & + .contents_add_login_check + .contents_add_login_check {
                    display: flex;
                }
            }
        }
        .contents_add_login_text {
            font-size: 1.4rem;
            @include pointer;
        }
    }

    .contents_add_buttons {
        @include mq(pc) {
            width: 32rem;
            padding: 1.6rem;
            box-sizing: border-box;
            background-color: #fff;
            border-top: 0.1rem solid rgba(0, 0, 0, 0.12);
            display: flex;
            align-items: center;
            gap: 1.6rem;
            position: absolute;
            bottom: 0;
        }

        @include mq(sp) {
            display: none;
        }
    }
    .contents_add_button_reset {
        flex: 1;
        height: 5rem;
        padding: 0;
        font-size: 1.4rem;
        @include pointer;

        display: flex;
        align-items: center;
        justify-content: center;
        .contents_add_button_reset_text {
            color: color(button);
        }
    }
    .contents_add_button_register {
        flex: 1;
        height: 5rem;
        padding: 0;
        font-size: 1.4rem;
        @include pointer;

        border: none;
        border-radius: 0.4rem;
        background-color: color(button);
        color: #fff;
    }
}
