@charset "UTF-8";

.humberger_icon {
  // 位置調整
  display: flex;
  justify-content: center;
  align-items: center;
  // 大きさ調整
  width: 24px;
  height: 24px;
  // ハンバーガーアイコン作成
  &_line {
    position: relative;
    @include humberger_line;
    transition: all 0.6s ease-out;
    &::before {
      transition: all 0.6s ease-out;
      content: "";
      position: absolute;
      top: -5.33px;
      @include humberger_line;
    }
    &::after {
      transition: all 0.6s ease-out;
      content: "";
      position: absolute;
      top: 5.33px;
      @include humberger_line;
    }
    &.is_active {
      background-color: #fff;
      &::before {
        top: 0;
        transform: rotate(-45deg);
      }
      &::after {
        top: 0;
        transform: rotate(45deg);
      }
    }
  }
}
