@charset "UTF-8";
// 位置調整
// 大きさ調整
// レイアウト調整

.icon {
    margin-top: 0.4rem;
    width: 5.6rem;
    height: 4.6rem;
    padding: 0.5rem 1.2rem;
    color: color(font);

    .icon_img {
        // 大きさ調整
        width: 2.8rem;
        height: 2.8rem;
        font-size: 2.8rem;
        // 位置調整
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0 auto;
        // レイアウト調整
        padding: 0.2rem 1.4rem;
    }

    .icon_text {
        text-align: center;
    }

    @include pointer;
}

.side_bar_contents_icon.is_active {
    color: color(button);
    .icon_img {
        border-radius: 4rem;
        background: linear-gradient(
                0deg,
                color(contents_icon_bg),
                color(contents_icon_bg)
            ),
            #fff;
    }
}

.js_contents_icon.is_active {
    color: color(button);
    border-radius: 4rem;
    background: linear-gradient(
            0deg,
            color(contents_icon_bg),
            color(contents_icon_bg)
        ),
        #fff;
}
