// 位置調整
// 大きさ調整
// レイアウト調整

.humberger_icon {
  // 位置調整
  display: flex;
  justify-content: center;
  align-items: center;
  // 大きさ調整
  width: 24px;
  height: 24px;
  // ハンバーガーアイコン作成
  &_line {
    position: relative;
    @include humberger_line;
    transition: all 0.8s ease-out;
    &::before {
      content: "";
      position: absolute;
      top: -5.33px;
      @include humberger_line;
    }
    &::after {
      content: "";
      position: absolute;
      top: 5.33px;
      @include humberger_line;
    }
  }
  &_line_active {
    transform: rotate(135deg);
    &::after {
      top: 50%;
      // left: 50%;
      transform: translate(-50%, -50%) rotate(90deg);
    }
    &::before {
      display: none;
    }
  }
}

.icon {
  margin-top: 4px;
  width: 56px;
  height: 46px;
  padding: 5px 12px;
  @include font_color;
  &_img {
    // 大きさ調整
    width: 28px;
    height: 28px;
    font-size: 28px;
    // 位置調整
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    // レイアウト調整
    margin: 2px 14px;
  }
  &_text {
    text-align: center;
  }
}
