@charset "UTF-8";

.sp_add_icon {
    display: none;
    @include mq(sp) {
        @include pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        right: 1.6rem;
        top: 2.4rem;
        width: 12rem;
        height: 5rem;
        background-color: color(button);
        color: #fff;
        border-radius: 0.4rem;
        .sp_add_icon_img {
            display: flex;
            align-items: center;
            font-size: 1.8rem;
            justify-content: center;
            width: 1.8rem;
            height: 1.8rem;
            margin: 1.6rem 0.8rem 1.6rem 1.6rem;
        }
        .sp_add_icon_text {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 5.4rem;
            height: 2rem;
            font-size: 1.4rem;
            line-height: 20.27px;
            margin: 1.5rem 2.4rem 1.5rem 0;
        }
    }
}
