@include mq(sp) {
  margin-left: 0;
  margin-bottom: 48px;
  padding: 0 16px;
  box-sizing: border-box;
  &.is_active {
    margin-left: 0;
  }
  &_title {
    font-size: 22px;
    width: 154px;
    height: 33px;
    line-height: 31.86px;
    margin: 33px 0;
  }
  &_search {
    margin-bottom: 18px;
  }
  &_input {
    width: calc(100% - 52px - 52px);
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
  }
  &_button {
    width: 52px;
    height: 52px;
    margin: 0;
    border: 1px solid color(border);
    background-color: #ffffff;
    box-sizing: border-box;
    &.sp_border_radius {
      border-top-right-radius: 4px !important;
      border-bottom-right-radius: 4px !important;
    }
    &_img {
      width: 24px;
      height: 24px;
      font-size: 24px;
      padding: 14px;
    }
    &_text {
      display: none;
    }
    &.sp_border_none {
      border-left: none;
      border-right: none;
    }
  }
  &_table {
    display: none;
    margin-bottom: 40px;
    &.sp_table {
      overflow-x: scroll;
      display: block;
    }
    &_item {
      > td:nth-child(1) {
        width: 160px;
        min-width: 160px;
      }
      > td:nth-child(2) {
        word-break: break-all;
        width: 320px;
        min-width: 320px;
      }
      > td:nth-child(3) {
        min-width: 240px;
      }
    }
  }
  .radius {
    border-radius: 0;
  }
}
