@charset "UTF-8";

$color: (
  button: #6b0fa4,
  font: rgba(0, 0, 0, 0.6),
  border: rgba(0, 0, 0, 0.12),
  input: #f6f6f6,
  hover_focus: #34b0c0,
  table_even_bg: #f6f6f6,
  contents_icon_bg: rgba(84, 12, 130, 0.1),
);

@function color($value) {
  @return map-get($color, $value);
}
